#command to set up conda env: conda create --name optimize python=3.9
#Then run this requirements.txt


pip uninstall -y -q pyarrow
pip install pandas scipy matplotlib networkx tqdm
#RL-related packages (dm_tree is a MultiAgentEnv package)
pip install gym dm_tree
pip install ray-3.0.0.dev0-cp38-cp38-macosx_10_15_x86_64.whl
pip install ray[rllib] tensorflow
pip install pyaml
#pip install ray[debug]



#pip install -q https://s3-us-west-2.amazonaws.com/ray-wheels/master/ba6cebe30fab6925e5b2d9e859ad064d53015246/ray-2.0.1-cp39-cp39-macosx_11_7_intel.whl
#pip install https://s3-us-west-2.amazonaws.com/ray-wheels/master/ba6cebe30fab6925e5b2d9e859ad064d53015246/ray-2.0.0-cp39-cp39-macosx_10_15_x86_64.whl